<div id="wrapper">
    <div class="formbox1">
        <p class="note2"></p>
    </div>
    <div class="formbox2">
        <p class="note3"></p>
        <input type="tel" class="txt" maxlength="11" id="tel"/>


        <div class="prodiv" style="top:361px;">
            <p>省份</p>
            <select id="prov" onchange="changeP();">
            </select>
        </div>


        <div class="citydiv" style="top:454px;">
            <p>城市</p>
            <select id="city" onchange="changeC();">
            </select>
        </div>

        <div class="chantdiv" style="top:554px;">
            <p>选择最近柜台</p>
            <select id="chant" onchange="changeS();">
            </select>
        </div>


        <a href="javascript:void(0)" onclick="submitInfo();ga('send','event','button','click','submsg')"
           class="btntry"></a>
        <a href="javascript:void(0)" onclick="showRule();ga('send','event','button','click','rule')"
           class="btnrule"></a>
    </div>

    <div class="bggold none"></div>

    <div class="bgblack none"></div>
    <div id="rulepop">
        <span onclick="$('.bgblack,#rulepop').hide()"></span>
    </div>

    <div id="sucpop" class="none">
        <span onclick="$('.bgblack,#sucpop').hide()"></span>
        <a href="" class="sucbtn1" onclick="ga('send','event','button','click','weibo')"></a>
        <a href="javascript:void(0)" onclick="showshare();hidesuc();ga('send','event','button','click','share')"
           class="sucbtn2"></a>
    </div>

    <div id="sharepop" class="none" onclick="hideShare()">
        <img src="images/sharenote.png" style="position:absolute; right:23px; top:30px;"/>
        <img src="images/sharelight.png"
             style="position:absolute; left:148px; top:232px; -webkit-animation:opacity 1s infinite linear alternate;"/>
        <img src="images/sharepz.png" style="position:absolute; left:148px; top:232px;"/>
        <img src="images/ewm.png" style="position:absolute; left:0; top:260px;"
             ontouchstart="ga('send','event','button','click','erweima')"/>
    </div>

</div>

<script>
    var hh = $(document).height();
    $(".bgblack,.bggold").height(hh);
    function showRule() {
        $(".bgblack,#rulepop").show();
    }


    function sucpop() {
        $(".bgblack").show();
        $("#sucpop").css('top', ($(window).height() - 306) / 2).show()
    }

    function hidesuc() {
        $(".bgblack,#sucpop").hide();
    }


    var shareTimer;
    function showshare() {
        $(".bggold,#sharepop").show();
        shareTimer = setInterval(function () {
            var i = Math.floor(Math.random() * 4);
            createHeart(i, "#sharepop")
        }, 800)
    }


    function hideShare() {
        $(".bggold,#sharepop").hide();
        clearInterval(shareTimer);
    }


    function createHeart(n, obj) {
        var heart = $('<img>').attr('src', 'images/heart' + n + '.png').addClass('heart');
        $(obj).append(heart);
        heart.fadeIn(1000);
        var x = 0;
        var y = 0;

        var left = 0;

        var heartTimer = setInterval(function () {
            left += 1.5
            var top = Math.abs(Math.sin(x) * 50 + 80 + left);

            heart.css({"WebkitTransform": "translate(" + top + "px," + y + "px)"});
            y = y - 3.6;
            x = (0.03) * y + 2;
            if (top > 300) {
                heart.fadeOut(600, function () {
                    heart.remove();
                    clearInterval(heartTimer);
                });
            }
        }, 30);
    }
    var sJson = [{'p': '安徽', 'c': '安庆', 's': '安庆金华联百货广场'},
        {'p': '安徽', 'c': '蚌埠', 's': '安徽商之都蚌埠商厦'},
        {'p': '安徽', 'c': '蚌埠', 's': '名妆阁化妆品专卖'},
        {'p': '安徽', 'c': '巢湖', 's': '安徽商之都巢湖商厦'},
        {'p': '安徽', 'c': '巢湖', 's': '巢湖百大购物中心'},
        {'p': '安徽', 'c': '巢湖', 's': '仁和安德利店'},
        {'p': '安徽', 'c': '池州', 's': '安徽商之都池州商厦'},
        {'p': '安徽', 'c': '池州', 's': '青阳县沁妍经典化妆品店'},
        {'p': '安徽', 'c': '滁州', 's': '安徽商之都滁州商厦'},
        {'p': '安徽', 'c': '滁州', 's': '滁州白云商厦'},
        {'p': '安徽', 'c': '滁州', 's': '天长天钟洗化'},
        {'p': '安徽', 'c': '滁州', 's': '天长新嫁娘化妆品'},
        {'p': '安徽', 'c': '阜阳', 's': '阜阳国贸商城'},
        {'p': '安徽', 'c': '阜阳', 's': '太和千姿宜和兴城店'},
        {'p': '安徽', 'c': '合肥', 's': '安徽商之都东城商厦'},
        {'p': '安徽', 'c': '合肥', 's': '合肥鼓楼高新商厦'},
        {'p': '安徽', 'c': '合肥', 's': '合肥鼓楼美洁化妆品店'},
        {'p': '安徽', 'c': '淮北', 's': '淮北今日化妆品店'},
        {'p': '安徽', 'c': '淮南', 's': '安徽商之都淮南商厦'},
        {'p': '安徽', 'c': '淮南', 's': '凤台玲珑化妆品店'},
        {'p': '安徽', 'c': '淮南', 's': '淮南新世界'},
        {'p': '安徽', 'c': '黄山', 's': '美颜格调'},
        {'p': '安徽', 'c': '六安', 's': '安徽商之都六安商厦'},
        {'p': '安徽', 'c': '六安', 's': '六安白云商场厦'},
        {'p': '安徽', 'c': '六安', 's': '六安金商都'},
        {'p': '安徽', 'c': '马鞍山', 's': '马鞍山八佰伴'},
        {'p': '安徽', 'c': '马鞍山', 's': '马鞍山美丽风情化妆品二店'},
        {'p': '安徽', 'c': '马鞍山', 's': '美丽风情鸿泰新百店'},
        {'p': '安徽', 'c': '铜陵', 's': '铜陵白天鹅日化二店'},
        {'p': '安徽', 'c': '铜陵', 's': '铜陵百大购物中心'},
        {'p': '安徽', 'c': '芜湖', 's': '芜湖仁和'},
        {'p': '安徽', 'c': '芜湖', 's': '芜湖市新百大厦'},
        {'p': '安徽', 'c': '芜湖', 's': '芜湖银通女士专卖店'},
        {'p': '安徽', 'c': '宿州', 's': '安徽商之都宿州商厦'},
        {'p': '安徽', 'c': '宿州', 's': '宿州市蓝梦化妆品店'},
        {'p': '安徽', 'c': '宣城', 's': '安徽商之都宣城商厦'},
        {'p': '安徽', 'c': '宣城', 's': '宁国市洁美日化'},
        {'p': '安徽', 'c': '宣城', 's': '宁阳化妆品'},
        {'p': '安徽', 'c': '宣城', 's': '宣城捌佰伴'},
        {'p': '安徽', 'c': '宣城', 's': '宣城新百百货'},
        {'p': '安徽', 'c': '宣城', 's': '雅侬日化'},
        {'p': '福建', 'c': '福清', 's': '时尚女友万达店'},
        {'p': '福建', 'c': '福州', 's': '连江立雯化妆品店'},
        {'p': '福建', 'c': '福州', 's': '绿之屋步行街店'},
        {'p': '福建', 'c': '福州', 's': '绿之屋河下街店'},
        {'p': '福建', 'c': '福州', 's': '绿之屋金峰店'},
        {'p': '福建', 'c': '福州', 's': '绿之屋奎桥店'},
        {'p': '福建', 'c': '福州', 's': '美肤莱化妆品店'},
        {'p': '福建', 'c': '福州', 's': '邵武市春之天化妆品'},
        {'p': '福建', 'c': '福州', 's': '时尚女友东门店'},
        {'p': '福建', 'c': '福州', 's': '时尚女友宏路店'},
        {'p': '福建', 'c': '福州', 's': '时尚女友江阴店'},
        {'p': '福建', 'c': '福州', 's': '时尚女友龙田店'},
        {'p': '福建', 'c': '福州', 's': '时尚女友融侨店'},
        {'p': '福建', 'c': '福州', 's': '时尚女友向高店'},
        {'p': '福建', 'c': '福州', 's': '时尚女友一拂店'},
        {'p': '福建', 'c': '福州', 's': '馨炫化妆品'},
        {'p': '福建', 'c': '龙岩', 's': '锦兰村化妆品店'},
        {'p': '福建', 'c': '龙岩', 's': '龙岩小李百货'},
        {'p': '福建', 'c': '龙岩', 's': '小李百货北市场店'},
        {'p': '福建', 'c': '龙岩', 's': '小李化妆城体育中心店'},
        {'p': '福建', 'c': '南平', 's': '丽人化妆品西门店'},
        {'p': '福建', 'c': '南平', 's': '丽人化妆品总汇'},
        {'p': '福建', 'c': '南平', 's': '南平源华化妆品'},
        {'p': '福建', 'c': '南平', 's': '源华化妆品朝阳路店'},
        {'p': '福建', 'c': '南平', 's': '源华化妆品鼓楼店'},
        {'p': '福建', 'c': '南平', 's': '源华化妆品解放店'},
        {'p': '福建', 'c': '南平', 's': '源华化妆品商业城店'},
        {'p': '福建', 'c': '宁德', 's': '福建福安百灵化妆品店'},
        {'p': '福建', 'c': '宁德', 's': '福建福鼎市佳美化妆品店'},
        {'p': '福建', 'c': '宁德', 's': '宁德市戎丰贸易有限公司'},
        {'p': '福建', 'c': '宁德', 's': '女友妆品'},
        {'p': '福建', 'c': '宁德', 's': '仟姿化妆品店'},
        {'p': '福建', 'c': '宁德', 's': '霞浦县霞榕化妆品经营部'},
        {'p': '福建', 'c': '莆田', 's': '枫亭金典化妆品店'},
        {'p': '福建', 'c': '莆田', 's': '莆田市顶真化妆品'},
        {'p': '福建', 'c': '莆田', 's': '新天地.大唐店'},
        {'p': '福建', 'c': '莆田', 's': '新天地.鉴前店'},
        {'p': '福建', 'c': '莆田', 's': '新天地.梅园店'},
        {'p': '福建', 'c': '莆田', 's': '新天地.万达广场店'},
        {'p': '福建', 'c': '莆田', 's': '新天地.仙游店'},
        {'p': '福建', 'c': '莆田', 's': '永辉超市荔城北店'},
        {'p': '福建', 'c': '泉州', 's': '阿伟百货新店'},
        {'p': '福建', 'c': '泉州', 's': '安溪霸王花化妆品店'},
        {'p': '福建', 'c': '泉州', 's': '金井星永亮化妆品店'},
        {'p': '福建', 'c': '泉州', 's': '晋江SM莱雅百货'},
        {'p': '福建', 'c': '泉州', 's': '泉州浦西万达百货'},
        {'p': '福建', 'c': '泉州', 's': '泉州中闽百汇泉秀店'},
        {'p': '福建', 'c': '泉州', 's': '诗丽雅化妆品德辉店'},
        {'p': '福建', 'c': '泉州', 's': '诗丽雅化妆品店'},
        {'p': '福建', 'c': '泉州', 's': '石狮新华都百货'},
        {'p': '福建', 'c': '泉州', 's': '天天化妆品店'},
        {'p': '福建', 'c': '泉州', 's': '永春俏佳人化妆品店'},
        {'p': '福建', 'c': '三明', 's': '沙县嘉华联百货'},
        {'p': '福建', 'c': '三明', 's': '永安佳洁购物广场百货店'},
        {'p': '福建', 'c': '厦门', 's': 'SM莱雅百货'},
        {'p': '福建', 'c': '厦门', 's': '厦门市同安伊汇弘百货商店'},
        {'p': '福建', 'c': '厦门', 's': '厦门伊美雅化妆品商行'},
        {'p': '福建', 'c': '厦门', 's': '同安雅姿百货店'},
        {'p': '福建', 'c': '漳州', 's': '艾美百货漳州店'},
        {'p': '福建', 'c': '漳州', 's': '汇美化妆世界'},
        {'p': '福建', 'c': '漳州', 's': '姐妹化妆品店'},
        {'p': '福建', 'c': '漳州', 's': '可人儿小百货'},
        {'p': '福建', 'c': '漳州', 's': '龙海绿舒化妆品店'},
        {'p': '甘肃', 'c': '酒泉', 's': '白娅妮建安分店'},
        {'p': '甘肃', 'c': '酒泉', 's': '好又多东方购物广场'},
        {'p': '甘肃', 'c': '兰州', 's': '兰州王府井'},
        {'p': '甘肃', 'c': '兰州', 's': '西太华'},
        {'p': '甘肃', 'c': '兰州', 's': '亚欧丽莎'},
        {'p': '甘肃', 'c': '平凉', 's': '平凉新世纪商厦'},
        {'p': '甘肃', 'c': '庆阳', 's': '沈氏佳容'},
        {'p': '甘肃', 'c': '庆阳', 's': '通济化妆品'},
        {'p': '甘肃', 'c': '天水', 's': '璀璨人生'},
        {'p': '甘肃', 'c': '张掖', 's': '张掖市国芳百货购物广场有限责任公司'},
        {'p': '广东', 'c': '潮州', 's': '千色地带化妆品'},
        {'p': '广东', 'c': '东莞', 's': '诗薇梵'},
        {'p': '广东', 'c': '佛山', 's': '绰悦化妆品嘉洲分店'},
        {'p': '广东', 'c': '佛山', 's': '绰悦顺联国际分店'},
        {'p': '广东', 'c': '佛山', 's': '永悦化妆品中心'},
        {'p': '广东', 'c': '广州', 's': '姿彩美集化妆品'},
        {'p': '广东', 'c': '河源', 's': '润化妆品店'},
        {'p': '广东', 'c': '河源', 's': '润丽日店'},
        {'p': '广东', 'c': '惠州', 's': '惠东爱莎妮化妆品店'},
        {'p': '广东', 'c': '惠州', 's': '唯美行化妆品'},
        {'p': '广东', 'c': '惠州', 's': '新一代美容品店'},
        {'p': '广东', 'c': '江门', 's': '悦妆益华百货店'},
        {'p': '广东', 'c': '揭阳', 's': '揭阳永芳（明珠店）'},
        {'p': '广东', 'c': '揭阳', 's': '普宁丽都'},
        {'p': '广东', 'c': '揭阳', 's': '永芳化妆品店'},
        {'p': '广东', 'c': '茂名', 's': '东方名店'},
        {'p': '广东', 'c': '茂名', 's': '茂名市明湖百货'},
        {'p': '广东', 'c': '茂名', 's': '泰和化妆品店'},
        {'p': '广东', 'c': '梅州', 's': '隆记华侨城店'},
        {'p': '广东', 'c': '梅州', 's': '隆记江南店'},
        {'p': '广东', 'c': '梅州', 's': '莹亮'},
        {'p': '广东', 'c': '梅州', 's': '莹亮化妆品欧尚分店'},
        {'p': '广东', 'c': '清远', 's': '翔姿(清远店)'},
        {'p': '广东', 'c': '汕头', 's': '千禧贵族化妆城'},
        {'p': '广东', 'c': '汕头', 's': '汕头新一城'},
        {'p': '广东', 'c': '汕头', 's': '四海（海丰广富店）'},
        {'p': '广东', 'c': '汕尾', 's': '四海(四马路店)'},
        {'p': '广东', 'c': '汕尾', 's': '四海商行(海丰店)'},
        {'p': '广东', 'c': '汕尾', 's': '四海商行(通港店)'},
        {'p': '广东', 'c': '韶关', 's': '韶关HIGHKITE'},
        {'p': '广东', 'c': '深圳', 's': '千佳行横岗店'},
        {'p': '广东', 'c': '阳江', 's': '莎莉天润广场店'},
        {'p': '广东', 'c': '阳江', 's': '文燕环城店'},
        {'p': '广东', 'c': '中山', 's': '二悅花大信小榄店'},
        {'p': '广东', 'c': '中山', 's': '凌通（古镇）'},
        {'p': '广东', 'c': '中山', 's': '翔姿(HIGHKITE)'},
        {'p': '广东', 'c': '中山', 's': '翔姿太阳城益华店'},
        {'p': '广东', 'c': '中山', 's': '翔姿新悦分店'},
        {'p': '广西', 'c': '百色', 's': '百色市集美化妆品店(二店)'},
        {'p': '广西', 'c': '百色', 's': '美人计环球店'},
        {'p': '广西', 'c': '北海', 's': '北海和安商都店'},
        {'p': '广西', 'c': '防城港', 's': '和信日化行'},
        {'p': '广西', 'c': '贵港', 's': '贵港梦之岛店'},
        {'p': '广西', 'c': '贵港', 's': '南宁百货贵港店'},
        {'p': '广西', 'c': '河池', 's': '河池金城地王店'},
        {'p': '广西', 'c': '柳州', 's': '惠之林龙城店'},
        {'p': '广西', 'c': '柳州', 's': '柳州步步高百货'},
        {'p': '广西', 'c': '柳州', 's': '柳州市五星商厦'},
        {'p': '广西', 'c': '南宁', 's': '南宁百货大楼'},
        {'p': '广西', 'c': '钦州', 's': '钦州华润店'},
        {'p': '广西', 'c': '钦州', 's': '钦州协盛'},
        {'p': '广西', 'c': '梧州', 's': '梧州梦之岛购物广场'},
        {'p': '广西', 'c': '玉林', 's': '玉林金城店'},
        {'p': '贵州', 'c': '安顺', 's': '中环百盛'},
        {'p': '贵州', 'c': '毕节', 's': '春韵化妆饰品广场'},
        {'p': '贵州', 'c': '都匀', 's': '胭脂堂（都匀店）'},
        {'p': '贵州', 'c': '六盘水', 's': '宝隆国际'},
        {'p': '贵州', 'c': '六盘水', 's': '东方新女人'},
        {'p': '贵州', 'c': '六盘水', 's': '六枝大不同'},
        {'p': '贵州', 'c': '六盘水', 's': '天姿日化（开发区店）'},
        {'p': '贵州', 'c': '六盘水', 's': '天姿日化（总店）'},
        {'p': '贵州', 'c': '黔东南', 's': '胭脂堂东方店'},
        {'p': '贵州', 'c': '黔西南', 's': '兴义大不同VIP店'},
        {'p': '贵州', 'c': '黔西南', 's': '友力百货'},
        {'p': '贵州', 'c': '遵义', 's': '遵义国贸购物中心'},
        {'p': '海南', 'c': '海口', 's': '百盈-南亚广场店'},
        {'p': '海南', 'c': '海口', 's': '海口明珠广场'},
        {'p': '海南', 'c': '海南省其他', 's': '艾美美丽生活体验馆'},
        {'p': '海南', 'c': '琼海', 's': '琼海百家汇'},
        {'p': '海南', 'c': '三亚', 's': '三亚夏日百货'},
        {'p': '河北', 'c': '保定', 's': '安国金羽日化店'},
        {'p': '河北', 'c': '保定', 's': '保定百货大楼'},
        {'p': '河北', 'c': '保定', 's': '家兴商厦店'},
        {'p': '河北', 'c': '保定', 's': '望都信誉楼商厦'},
        {'p': '河北', 'c': '保定', 's': '易县千百惠化妆精品店'},
        {'p': '河北', 'c': '沧州', 's': '沧州河间市信发商厦'},
        {'p': '河北', 'c': '沧州', 's': '沧州信誉楼商厦'},
        {'p': '河北', 'c': '沧州', 's': '东光信誉楼商厦'},
        {'p': '河北', 'c': '沧州', 's': '河间信誉楼商厦'},
        {'p': '河北', 'c': '沧州', 's': '华北商厦'},
        {'p': '河北', 'c': '沧州', 's': '华北商厦一期'},
        {'p': '河北', 'c': '沧州', 's': '华欣日化信誉楼店'},
        {'p': '河北', 'c': '沧州', 's': '黄骅信誉楼商厦'},
        {'p': '河北', 'c': '沧州', 's': '黄骅耀华商厦有限公司'},
        {'p': '河北', 'c': '沧州', 's': '青县信誉楼商厦'},
        {'p': '河北', 'c': '沧州', 's': '信和商厦'},
        {'p': '河北', 'c': '沧州', 's': '耀华肃宁购物中心'},
        {'p': '河北', 'c': '承德', 's': '承德宽广超市'},
        {'p': '河北', 'c': '承德', 's': '金月亮连锁店德汇分店'},
        {'p': '河北', 'c': '定州', 's': '定州信誉楼商厦'},
        {'p': '河北', 'c': '邯郸', 's': '天铁百货大楼'},
        {'p': '河北', 'c': '衡水', 's': '衡水百货大楼'},
        {'p': '河北', 'c': '衡水', 's': '枣强信誉楼商厦'},
        {'p': '河北', 'c': '黄骅', 's': '黄骅琨洋购物'},
        {'p': '河北', 'c': '廊坊', 's': '廊坊明珠大厦'},
        {'p': '河北', 'c': '廊坊', 's': '廊坊新朝阳购物中心'},
        {'p': '河北', 'c': '廊坊', 's': '胜芳小温馨百货店'},
        {'p': '河北', 'c': '秦皇岛', 's': '山海关蓝宇化妆品万商店'},
        {'p': '河北', 'c': '石家庄', 's': '北国商城益元店'},
        {'p': '河北', 'c': '石家庄', 's': '藁城市信誉楼商厦'},
        {'p': '河北', 'c': '石家庄', 's': '晋州信誉楼百货有限公司'},
        {'p': '河北', 'c': '石家庄', 's': '石家庄信誉楼商厦'},
        {'p': '河北', 'c': '石家庄', 's': '辛集信誉楼商厦'},
        {'p': '河北', 'c': '石家庄', 's': '赵县信誉楼商厦'},
        {'p': '河北', 'c': '唐山', 's': '迁安绮丽日化'},
        {'p': '河北', 'c': '天津', 's': '汉沽百货大楼'},
        {'p': '河北', 'c': '天津', 's': '滦南供销大厦'},
        {'p': '河北', 'c': '天津', 's': '劝宝超市购物广场'},
        {'p': '河北', 'c': '邢台', 's': '蠡县信誉楼'},
        {'p': '河北', 'c': '邢台', 's': '女神日化'},
        {'p': '河北', 'c': '邢台', 's': '清河信誉楼商厦'},
        {'p': '河北', 'c': '邢台', 's': '邢台天缘日化八一店'},
        {'p': '河北', 'c': '邢台', 's': '邢台天缘日化顺德店'},
        {'p': '河北', 'c': '张家口', 's': '化妆品世界'},
        {'p': '河南', 'c': '安阳', 's': '美丽一生化妆名品'},
        {'p': '河南', 'c': '安阳', 's': '飘逸化妆精典'},
        {'p': '河南', 'c': '鹤壁', 's': '三星日化'},
        {'p': '河南', 'c': '焦作', 's': '焦作丹尼斯百货'},
        {'p': '河南', 'c': '焦作', 's': '焦作市三维商业广场'},
        {'p': '河南', 'c': '开封', 's': '芳草地日化'},
        {'p': '河南', 'c': '洛阳', 's': '鸿泰购物广场二店'},
        {'p': '河南', 'c': '洛阳', 's': '嵩县周天百货'},
        {'p': '河南', 'c': '洛阳', 's': '伊川天姿日化'},
        {'p': '河南', 'c': '漯河', 's': '大商新玛特店'},
        {'p': '河南', 'c': '漯河', 's': '漯河千盛'},
        {'p': '河南', 'c': '南阳', 's': '丹尼斯百货新华店'},
        {'p': '河南', 'c': '南阳', 's': '南阳豪胜百货悠莱专柜'},
        {'p': '河南', 'c': '南阳', 's': '晓晓精品屋'},
        {'p': '河南', 'c': '南阳', 's': '镇平女士用品店'},
        {'p': '河南', 'c': '平顶山', 's': '珂珂名妆'},
        {'p': '河南', 'c': '平顶山', 's': '珂珂名妆(华府店）'},
        {'p': '河南', 'c': '平顶山', 's': '珂珂名妆（万家店）'},
        {'p': '河南', 'c': '平顶山', 's': '美丽达女性世界'},
        {'p': '河南', 'c': '平顶山', 's': '平顶山丹尼斯百货（开源路店）'},
        {'p': '河南', 'c': '平顶山', 's': '汝州金博大CS柜'},
        {'p': '河南', 'c': '平顶山', 's': '鹰城世贸URARA专柜'},
        {'p': '河南', 'c': '濮阳', 's': '濮阳市百姓生活广场'},
        {'p': '河南', 'c': '濮阳', 's': '时尚化妆名品一店'},
        {'p': '河南', 'c': '三门峡', 's': '悦薇化妆品有限公司步行街店'},
        {'p': '河南', 'c': '三门峡', 's': '悦薇化妆品有限公司黄河路店'},
        {'p': '河南', 'c': '三门峡', 's': '悦薇化妆品有限公司卢氏店'},
        {'p': '河南', 'c': '三门峡', 's': '悦薇化妆品有限公司强人街店'},
        {'p': '河南', 'c': '三门峡', 's': '悦薇化妆品有限公司上阳路店'},
        {'p': '河南', 'c': '三门峡', 's': '悦薇化妆品有限公司新华街店'},
        {'p': '河南', 'c': '商丘', 's': '金豆化妆精品店'},
        {'p': '河南', 'c': '商丘', 's': '商丘大商新玛特'},
        {'p': '河南', 'c': '商丘', 's': '商丘丹尼斯金穗店'},
        {'p': '河南', 'c': '商丘', 's': '先帅百货店'},
        {'p': '河南', 'c': '商丘', 's': '亿客隆日化三分店'},
        {'p': '河南', 'c': '新乡', 's': '蔡丽化妆品店'},
        {'p': '河南', 'c': '新乡', 's': '工贸化妆品开发区店'},
        {'p': '河南', 'c': '新乡', 's': '莱雅化妆品店'},
        {'p': '河南', 'c': '新乡', 's': '新乡大商新玛特店'},
        {'p': '河南', 'c': '信阳', 's': '西亚和美广场'},
        {'p': '河南', 'c': '许昌', 's': '惊艳世界名牌化妆品专营店'},
        {'p': '河南', 'c': '许昌', 's': '再回首真品日化二店'},
        {'p': '河南', 'c': '永城', 's': '先帅百货新天地购物中心'},
        {'p': '河南', 'c': '郑州', 's': '春风日化'},
        {'p': '河南', 'c': '郑州', 's': '巩义百货百花化妆品店'},
        {'p': '河南', 'c': '郑州', 's': '莱雅美妆'},
        {'p': '河南', 'c': '郑州', 's': '丽园天使曼哈顿店'},
        {'p': '河南', 'c': '郑州', 's': '丽园天使天旺广场店'},
        {'p': '河南', 'c': '郑州', 's': '世纪联华（东风路店）'},
        {'p': '河南', 'c': '郑州', 's': '嵩阳南路洪军百文化妆品总汇'},
        {'p': '河南', 'c': '郑州', 's': '新密名人日化'},
        {'p': '河南', 'c': '周口', 's': '慧园化妆品'},
        {'p': '河南', 'c': '周口', 's': '晶晶化妆名品'},
        {'p': '河南', 'c': '周口', 's': '名妆苑'},
        {'p': '河南', 'c': '驻马店', 's': '老地方日化行'},
        {'p': '河南', 'c': '驻马店', 's': '绿丹兰日化行'},
        {'p': '河南', 'c': '驻马店', 's': '美相约化妆品超市'},
        {'p': '河南', 'c': '驻马店', 's': '汝南海硕日化'},
        {'p': '河南', 'c': '驻马店', 's': '驻马店爱家百货店'},
        {'p': '河南', 'c': '驻马店', 's': '驻马店大商新玛特URARA专柜'},
        {'p': '河南', 'c': '驻马店', 's': '驻马店乐山商场'},
        {'p': '河南', 'c': '驻马店', 's': '驻马店乐山商场天下城店'},
        {'p': '黑龙江', 'c': '大庆', 's': '肇源百信化妆品店'},
        {'p': '黑龙江', 'c': '哈尔滨', 's': '巴彦永美'},
        {'p': '黑龙江', 'c': '哈尔滨', 's': '宾县永美化妆品超市'},
        {'p': '黑龙江', 'c': '哈尔滨', 's': '哈尔滨松雷香坊店'},
        {'p': '黑龙江', 'c': '哈尔滨', 's': '天宇化妆品名品广场'},
        {'p': '黑龙江', 'c': '哈尔滨', 's': '延寿天天化妆品'},
        {'p': '黑龙江', 'c': '哈尔滨', 's': '中意化妆品总汇'},
        {'p': '黑龙江', 'c': '黑河', 's': '北安百盛化妆品总汇'},
        {'p': '黑龙江', 'c': '鸡西', 's': '鸡西新玛特二店'},
        {'p': '黑龙江', 'c': '佳木斯', 's': '佳木斯百货大楼'},
        {'p': '黑龙江', 'c': '佳木斯', 's': '佳木斯新玛特购物'},
        {'p': '黑龙江', 'c': '牡丹江', 's': '花仙子化妆品店'},
        {'p': '黑龙江', 'c': '牡丹江', 's': '牡丹江百大购物广场'},
        {'p': '黑龙江', 'c': '牡丹江', 's': '牡丹江新玛特'},
        {'p': '黑龙江', 'c': '七台河', 's': '新玛特购物广场'},
        {'p': '黑龙江', 'c': '齐齐哈尔', 's': '克山宏达'},
        {'p': '黑龙江', 'c': '齐齐哈尔', 's': '齐齐哈尔百货大楼'},
        {'p': '黑龙江', 'c': '齐齐哈尔', 's': '永青化妆品'},
        {'p': '黑龙江', 'c': '双鸭山', 's': '百合美态化妆品店'},
        {'p': '黑龙江', 'c': '双鸭山', 's': '双鸭山一百'},
        {'p': '黑龙江', 'c': '绥化', 's': '安达市橡果电视购物广场旗舰店'},
        {'p': '黑龙江', 'c': '绥化', 's': '海伦名流化妆精品商行'},
        {'p': '黑龙江', 'c': '绥化', 's': '绥化华辰莎莎化妆品'},
        {'p': '黑龙江', 'c': '绥化', 's': '温州化妆品城'},
        {'p': '黑龙江', 'c': '伊春', 's': '伊春雅美二店'},
        {'p': '湖北', 'c': '恩施', 's': '恩施崇文财富广场'},
        {'p': '湖北', 'c': '恩施', 's': '锦莎化妆品店'},
        {'p': '湖北', 'c': '湖北省其他', 's': '仙桃商城'},
        {'p': '湖北', 'c': '黄冈', 's': '湖北天华专营店美琪分店'},
        {'p': '湖北', 'c': '黄冈', 's': '花季化妆品店'},
        {'p': '湖北', 'c': '黄冈', 's': '丽莎时尚化妆名品店'},
        {'p': '湖北', 'c': '黄冈', 's': '莎莎时尚化妆名店'},
        {'p': '湖北', 'c': '黄冈', 's': '莎莎时尚化妆名品店'},
        {'p': '湖北', 'c': '黄石', 's': '阳新县正庄化妆品'},
        {'p': '湖北', 'c': '荆门', 's': '监利中百百货'},
        {'p': '湖北', 'c': '荆门', 's': '金苹果化妆城'},
        {'p': '湖北', 'c': '荆门', 's': '荆门胭脂堂东方店'},
        {'p': '湖北', 'c': '荆门', 's': '荆门胭脂堂中商店'},
        {'p': '湖北', 'c': '荆门', 's': '胭脂堂金城店'},
        {'p': '湖北', 'c': '荆门', 's': '钟祥金苹果化妆城'},
        {'p': '湖北', 'c': '荆州', 's': '公安小青'},
        {'p': '湖北', 'c': '荆州', 's': '焕采空间时代店'},
        {'p': '湖北', 'c': '荆州', 's': '洁洁化妆'},
        {'p': '湖北', 'c': '荆州', 's': '洁洁化妆城球场路店'},
        {'p': '湖北', 'c': '荆州', 's': '洁洁化妆品'},
        {'p': '湖北', 'c': '荆州', 's': '美丽空间化妆品店'},
        {'p': '湖北', 'c': '荆州', 's': '沙市焕采中商店'},
        {'p': '湖北', 'c': '荆州', 's': '石首霞芳总店'},
        {'p': '湖北', 'c': '荆州', 's': '维维化妆'},
        {'p': '湖北', 'c': '荆州', 's': '维维化妆(沙市店)'},
        {'p': '湖北', 'c': '荆州', 's': '维维化妆品店(步行街店)'},
        {'p': '湖北', 'c': '荆州', 's': '霞芳日化'},
        {'p': '湖北', 'c': '荆州', 's': '雅芳日化'},
        {'p': '湖北', 'c': '潜江', 's': '靓丽妆饰'},
        {'p': '湖北', 'c': '十堰', 's': '丹丝阳商行'},
        {'p': '湖北', 'c': '十堰', 's': '灰姑娘化妆品店'},
        {'p': '湖北', 'c': '随州', 's': '美源化妆品专营店'},
        {'p': '湖北', 'c': '武汉', 's': '江夏中心百货'},
        {'p': '湖北', 'c': '武汉', 's': '中南商业大楼'},
        {'p': '湖北', 'c': '武汉', 's': '中商百货销品茂'},
        {'p': '湖北', 'c': '咸宁', 's': '赤壁俏侣化妆'},
        {'p': '湖北', 'c': '咸宁', 's': '佳华化妆品超市'},
        {'p': '湖北', 'c': '咸宁', 's': '俏侣化妆(莼川)店'},
        {'p': '湖北', 'c': '咸宁', 's': '天美日化商行'},
        {'p': '湖北', 'c': '咸宁', 's': '中商百货（咸宁店）'},
        {'p': '湖北', 'c': '襄阳', 's': '鼓楼商场'},
        {'p': '湖北', 'c': '襄阳', 's': '华洋堂'},
        {'p': '湖北', 'c': '襄阳', 's': '美丽焦点化妆品店'},
        {'p': '湖北', 'c': '襄阳', 's': '武商襄樊购物中心'},
        {'p': '湖北', 'c': '孝感', 's': '安陆梦巴黎分店'},
        {'p': '湖北', 'c': '孝感', 's': '梦巴黎化妆城'},
        {'p': '湖北', 'c': '孝感', 's': '时光廊分店'},
        {'p': '湖北', 'c': '孝感', 's': '时光廊化妆生活用品仓储'},
        {'p': '湖北', 'c': '孝感', 's': '天禧化妆'},
        {'p': '湖北', 'c': '孝感', 's': '孝感时光廊广场店'},
        {'p': '湖北', 'c': '孝感', 's': '孝感中商'},
        {'p': '湖北', 'c': '孝感', 's': '莹莹化妆'},
        {'p': '湖北', 'c': '孝感', 's': '应城时光廊'},
        {'p': '湖北', 'c': '宜昌', 's': '缤缤日化'},
        {'p': '湖北', 'c': '宜昌', 's': '环亚美容品商城'},
        {'p': '湖北', 'c': '宜昌', 's': '丽莎化妆精品店'},
        {'p': '湖北', 'c': '宜昌', 's': '色彩地带'},
        {'p': '湖北', 'c': '宜昌', 's': '枝江市环亚美容商城中心店'},
        {'p': '湖南', 'c': '常德', 's': '春天百货常德店'},
        {'p': '湖南', 'c': '常德', 's': '亮丽女人化妆品专营店'},
        {'p': '湖南', 'c': '常德', 's': '靓翼日化'},
        {'p': '湖南', 'c': '常德', 's': '美莱名店'},
        {'p': '湖南', 'c': '常德', 's': '女人世界'},
        {'p': '湖南', 'c': '常德', 's': '淑女屋日化'},
        {'p': '湖南', 'c': '常德', 's': '阳光名妆'},
        {'p': '湖南', 'c': '衡阳', 's': '广百百货'},
        {'p': '湖南', 'c': '衡阳', 's': '肌肤源'},
        {'p': '湖南', 'c': '衡阳', 's': '美尔日化'},
        {'p': '湖南', 'c': '衡阳', 's': '美颜春步步高耒阳1店'},
        {'p': '湖南', 'c': '怀化', 's': '宏华化妆品店'},
        {'p': '湖南', 'c': '怀化', 's': '怀化市飞达商业广场'},
        {'p': '湖南', 'c': '怀化', 's': '佳惠百货中央广场店'},
        {'p': '湖南', 'c': '怀化', 's': '小资名品'},
        {'p': '湖南', 'c': '吉首', 's': '步步高广场吉首店'},
        {'p': '湖南', 'c': '娄底', 's': '娄底步步高店'},
        {'p': '湖南', 'c': '娄底', 's': '妙妮日化'},
        {'p': '湖南', 'c': '邵阳', 's': '碧邻个人护理用品店'},
        {'p': '湖南', 'c': '邵阳', 's': '香妃行'},
        {'p': '湖南', 'c': '湘西', 's': '红地球焕采空间化妆品店'},
        {'p': '湖南', 'c': '益阳', 's': '嘉美妆行'},
        {'p': '湖南', 'c': '益阳', 's': '嘉信茂广场化妆品店'},
        {'p': '湖南', 'c': '永州', 's': '花恋雨化妆品连锁店'},
        {'p': '湖南', 'c': '永州', 's': '美澜化妆品连锁店'},
        {'p': '湖南', 'c': '永州', 's': '美澜化妆品连锁河东店'},
        {'p': '湖南', 'c': '永州', 's': '女人屋化妆品店'},
        {'p': '湖南', 'c': '永州', 's': '千姿彩聚万金店'},
        {'p': '湖南', 'c': '永州', 's': '千姿彩日化'},
        {'p': '湖南', 'c': '岳阳', 's': '海莹珍珠化妆品店'},
        {'p': '湖南', 'c': '岳阳', 's': '岳阳百盛'},
        {'p': '湖南', 'c': '张家界', 's': '梦圆化妆品张家界店'},
        {'p': '湖南', 'c': '张家界', 's': '梦圆名妆'},
        {'p': '湖南', 'c': '张家界', 's': '梦圆名妆张家界二店'},
        {'p': '湖南', 'c': '张家界', 's': '新感觉日化'},
        {'p': '湖南', 'c': '张家界', 's': '张家界採芝堂'},
        {'p': '湖南', 'c': '张家界', 's': '张家界梅尼百货'},
        {'p': '湖南', 'c': '长沙', 's': '阿波罗商业广场'},
        {'p': '湖南', 'c': '长沙', 's': '俏佳人化妆品专卖店'},
        {'p': '湖南', 'c': '长沙', 's': '中心日化'},
        {'p': '湖南', 'c': '株洲', 's': '艾美名店'},
        {'p': '湖南', 'c': '株洲', 's': '百惠化妆品店'},
        {'p': '吉林', 'c': '白城', 's': '通榆楚刘香化妆城'},
        {'p': '吉林', 'c': '白山', 's': '白山合兴大厦'},
        {'p': '吉林', 'c': '吉林', 's': '时代广场美宝店'},
        {'p': '吉林', 'c': '辽源', 's': '辽源市银座购物中心'},
        {'p': '吉林', 'c': '四平', 's': '公主岭华生商厦'},
        {'p': '吉林', 'c': '四平', 's': '西四化妆品城二店'},
        {'p': '吉林', 'c': '松原', 's': '金钻百货'},
        {'p': '吉林', 'c': '松原', 's': '松原君建北二店'},
        {'p': '吉林', 'c': '松原', 's': '松原欧亚购物中心'},
        {'p': '吉林', 'c': '通化', 's': '丽园时尚购物店'},
        {'p': '吉林', 'c': '通化', 's': '梅河口丽园洗化'},
        {'p': '吉林', 'c': '通化', 's': '梅河丽园欧亚店'},
        {'p': '吉林', 'c': '通化', 's': '通化欧亚购物中心'},
        {'p': '吉林', 'c': '延吉', 's': '延吉百货大楼'},
        {'p': '吉林', 'c': '长春', 's': '九台步步高'},
        {'p': '吉林', 'c': '长春', 's': '欧亚春城购物中心'},
        {'p': '吉林', 'c': '长春', 's': '欧亚卖场'},
        {'p': '吉林', 'c': '长春', 's': '新天地购物公园'},
        {'p': '吉林', 'c': '长春', 's': '亚泰富苑购物中心'},
        {'p': '吉林', 'c': '长春', 's': '长春市百货大楼'},
        {'p': '江苏', 'c': '常州', 's': '常州横林百利化妆品'},
        {'p': '江苏', 'c': '常州', 's': '常州潘锦辉化妆品店'},
        {'p': '江苏', 'c': '常州', 's': '金坛伊资坊苏果店'},
        {'p': '江苏', 'c': '常州', 's': '溧阳天天化妆品二店'},
        {'p': '江苏', 'c': '常州', 's': '泰兴鼓楼购物中心'},
        {'p': '江苏', 'c': '丹阳', 's': '丹阳丽人坊金鹰店'},
        {'p': '江苏', 'c': '淮安', 's': '淮安丽人洗化'},
        {'p': '江苏', 'c': '淮安', 's': '淮安女友洗化时代店'},
        {'p': '江苏', 'c': '淮安', 's': '淮安三爱化妆品'},
        {'p': '江苏', 'c': '连云港', 's': '连云港俪傲化妆品'},
        {'p': '江苏', 'c': '南京', 's': '宝岚化妆品店'},
        {'p': '江苏', 'c': '南京', 's': '高淳百货大厦'},
        {'p': '江苏', 'c': '南京', 's': '溧水名妆秀'},
        {'p': '江苏', 'c': '南京', 's': '六合天天美'},
        {'p': '江苏', 'c': '南京', 's': '禄口欧姿化妆品店'},
        {'p': '江苏', 'c': '南京', 's': '美丽佳人苏果店'},
        {'p': '江苏', 'c': '南京', 's': '南京衡美化妆品店'},
        {'p': '江苏', 'c': '南京', 's': '南京江宁靓妆化妆品'},
        {'p': '江苏', 'c': '南京', 's': '南京随美化妆品店'},
        {'p': '江苏', 'c': '南京', 's': '欧姿化妆品四店'},
        {'p': '江苏', 'c': '南通', 's': '海门丽颜化妆精品店'},
        {'p': '江苏', 'c': '南通', 's': '红袖添香化妆品店'},
        {'p': '江苏', 'c': '南通', 's': '江阴恋尚美化妆品'},
        {'p': '江苏', 'c': '苏州', 's': '常熟第一百货'},
        {'p': '江苏', 'c': '苏州', 's': '吴江女友化妆品店'},
        {'p': '江苏', 'c': '苏州', 's': '樱工房IZUMIYA泉屋店'},
        {'p': '江苏', 'c': '苏州', 's': '张家港名都百货'},
        {'p': '江苏', 'c': '泰州', 's': '姜堰女士世界苏果店'},
        {'p': '江苏', 'c': '泰州', 's': '姜堰市女士世界化妆品店'},
        {'p': '江苏', 'c': '泰州', 's': '女士世界人民商场店'},
        {'p': '江苏', 'c': '泰州', 's': '兴化春萍妆业'},
        {'p': '江苏', 'c': '无锡', 's': '宜兴新东方百货'},
        {'p': '江苏', 'c': '无锡', 's': '宜兴新苏南商场'},
        {'p': '江苏', 'c': '宿迁', 's': '沭阳县振荣超市'},
        {'p': '江苏', 'c': '宿迁', 's': '沭阳振荣超市二店'},
        {'p': '江苏', 'c': '宿迁', 's': '泗洪绿叶洗化三店'},
        {'p': '江苏', 'c': '宿迁', 's': '泗洪县绿之叶洗化商店'},
        {'p': '江苏', 'c': '宿迁', 's': '泗阳中意化妆品二店'},
        {'p': '江苏', 'c': '宿迁', 's': '宿迁升华化妆品商行'},
        {'p': '江苏', 'c': '徐州', 's': '沛县518国际名妆'},
        {'p': '江苏', 'c': '徐州', 's': '邳州泊美化妆品店'},
        {'p': '江苏', 'c': '盐城', 's': '滨海张勇洗化'},
        {'p': '江苏', 'c': '盐城', 's': '滨海张勇响水店'},
        {'p': '江苏', 'c': '盐城', 's': '大丰正大洗化'},
        {'p': '江苏', 'c': '盐城', 's': '东台银田国贸店'},
        {'p': '江苏', 'c': '盐城', 's': '东台银田国贸二店'},
        {'p': '江苏', 'c': '盐城', 's': '建湖东方日化'},
        {'p': '江苏', 'c': '盐城', 's': '美丽春天化妆品店'},
        {'p': '江苏', 'c': '盐城', 's': '射阳玉丽化妆品'},
        {'p': '江苏', 'c': '盐城', 's': '盐城晶晶洗化'},
        {'p': '江苏', 'c': '扬州', 's': '高邮东方商厦'},
        {'p': '江苏', 'c': '扬州', 's': '江苏宏信商贸股份有限公司'},
        {'p': '江苏', 'c': '扬州', 's': '扬州百分百二店'},
        {'p': '江苏', 'c': '扬州', 's': '扬州百分百美妆店'},
        {'p': '江苏', 'c': '扬州', 's': '扬州百分百四店'},
        {'p': '江苏', 'c': '扬州', 's': '仪征美之约化妆品二店'},
        {'p': '江苏', 'c': '镇江', 's': '丹阳必佳化妆品店'},
        {'p': '江苏', 'c': '镇江', 's': '丹阳丽人坊二店'},
        {'p': '江苏', 'c': '镇江', 's': '丹阳丽人坊后巷店'},
        {'p': '江苏', 'c': '镇江', 's': '丹阳丽人坊化妆品'},
        {'p': '江苏', 'c': '镇江', 's': '丹阳丽人坊界牌店'},
        {'p': '江苏', 'c': '镇江', 's': '丹阳丽人坊三店'},
        {'p': '江苏', 'c': '镇江', 's': '扬中益生堂二店'},
        {'p': '江苏', 'c': '镇江', 's': '扬中益生堂化妆品'},
        {'p': '江西', 'c': '抚州', 's': '洪客隆百货'},
        {'p': '江西', 'c': '抚州', 's': '融旺国际'},
        {'p': '江西', 'c': '赣州', 's': '赣州国光'},
        {'p': '江西', 'c': '赣州', 's': '赣州千花伴豪通国际百货大楼'},
        {'p': '江西', 'c': '赣州', 's': '赣州天虹'},
        {'p': '江西', 'c': '赣州', 's': '千花伴化妆品店分店'},
        {'p': '江西', 'c': '赣州', 's': '石城月亮湾名妆店'},
        {'p': '江西', 'c': '吉安', 's': '爱心化妆品店'},
        {'p': '江西', 'c': '吉安', 's': '吉安国光百货店'},
        {'p': '江西', 'c': '吉安', 's': '吉安天虹百货'},
        {'p': '江西', 'c': '吉安', 's': '新干大佳美化妆品店'},
        {'p': '江西', 'c': '吉安', 's': '阳明化妆品店'},
        {'p': '江西', 'c': '景德镇', 's': '华达百货'},
        {'p': '江西', 'c': '景德镇', 's': '金鼎百货'},
        {'p': '江西', 'c': '九江', 's': '红记名品店'},
        {'p': '江西', 'c': '九江', 's': '联盛百货'},
        {'p': '江西', 'c': '九江', 's': '浔阳区秀店百货商店'},
        {'p': '江西', 'c': '南昌', 's': '洪客隆中山店'},
        {'p': '江西', 'c': '南昌', 's': '江西洪客隆百货投资有限公司'},
        {'p': '江西', 'c': '南昌', 's': '南昌百货大楼'},
        {'p': '江西', 'c': '南昌', 's': '南昌百盛二店'},
        {'p': '江西', 'c': '南昌', 's': '南昌京东天虹'},
        {'p': '江西', 'c': '南昌', 's': '天虹商场红谷店'},
        {'p': '江西', 'c': '南昌', 's': '天虹商场江大店'},
        {'p': '江西', 'c': '南昌', 's': '天虹商场中山店'},
        {'p': '江西', 'c': '南昌', 's': '象湖天虹'},
        {'p': '江西', 'c': '南康', 's': '南康国光百货'},
        {'p': '江西', 'c': '萍乡', 's': '莲花一品红颜化妆品店'},
        {'p': '江西', 'c': '萍乡', 's': '美丽世界'},
        {'p': '江西', 'c': '萍乡', 's': '美丽世界北桥分店'},
        {'p': '江西', 'c': '上饶', 's': '流星花园'},
        {'p': '江西', 'c': '上饶', 's': '三七化妆品店'},
        {'p': '江西', 'c': '上饶', 's': '上饶市洪客隆百货'},
        {'p': '江西', 'c': '上饶', 's': '亿升广场'},
        {'p': '江西', 'c': '新余', 's': '步步高帝王购物广场店'},
        {'p': '江西', 'c': '新余', 's': '美丽有约'},
        {'p': '江西', 'c': '宜春', 's': '丰城洪客隆资生堂专柜'},
        {'p': '江西', 'c': '宜春', 's': '进贤天虹百货'},
        {'p': '江西', 'c': '宜春', 's': '名人化妆品店'},
        {'p': '江西', 'c': '宜春', 's': '宜春步步高百货'},
        {'p': '江西', 'c': '宜春', 's': '宜春青龙商厦专柜'},
        {'p': '江西', 'c': '宜春', 's': '樟树情缘'},
        {'p': '江西', 'c': '鹰潭', 's': '大佳美化妆品店'},
        {'p': '江西', 'c': '鹰潭', 's': '永盛百货'},
        {'p': '辽宁', 'c': '鞍山', 's': '锦州亿莎化妆品有限公司鞍山中心店'},
        {'p': '辽宁', 'c': '鞍山', 's': '欧亚广场旗舰店'},
        {'p': '辽宁', 'c': '本溪', 's': '本溪华联商业大厦'},
        {'p': '辽宁', 'c': '朝阳', 's': '朝阳丽港'},
        {'p': '辽宁', 'c': '朝阳', 's': '亿莎朝阳大润发店'},
        {'p': '辽宁', 'c': '赤峰', 's': '赤峰嘉人天山店'},
        {'p': '辽宁', 'c': '赤峰', 's': '赤峰旺香婷步行街店'},
        {'p': '辽宁', 'c': '赤峰', 's': '赤峰旺香婷同裕店'},
        {'p': '辽宁', 'c': '赤峰', 's': '旺香婷三东街店'},
        {'p': '辽宁', 'c': '赤峰', 's': '旺香婷松山步行街店'},
        {'p': '辽宁', 'c': '赤峰', 's': '旺香婷众联广场店'},
        {'p': '辽宁', 'c': '大连', 's': '大连董氏安盛华南店'},
        {'p': '辽宁', 'c': '大连', 's': '大连董氏开发区万和汇店'},
        {'p': '辽宁', 'c': '大连', 's': '大连锦辉购物广场'},
        {'p': '辽宁', 'c': '大连', 's': '大连开发区商场'},
        {'p': '辽宁', 'c': '大连', 's': '董氏大伟时代广场店'},
        {'p': '辽宁', 'c': '大连', 's': '金州新玛特购物广场'},
        {'p': '辽宁', 'c': '大连', 's': '锦辉购物广场书香园店'},
        {'p': '辽宁', 'c': '大连', 's': '开发区友谊商场店'},
        {'p': '辽宁', 'c': '大连', 's': '普兰店宝洁化妆品商店'},
        {'p': '辽宁', 'c': '大连', 's': '彦隆化洗商行'},
        {'p': '辽宁', 'c': '大连', 's': '友谊商城新天地店'},
        {'p': '辽宁', 'c': '大连', 's': '庄河卓悦化妆品店'},
        {'p': '辽宁', 'c': '丹东', 's': '丹东新一百'},
        {'p': '辽宁', 'c': '丹东', 's': '东港宏军千盛百货店'},
        {'p': '辽宁', 'c': '丹东', 's': '东港青春丹东店'},
        {'p': '辽宁', 'c': '丹东', 's': '韩氏化妆品店'},
        {'p': '辽宁', 'c': '丹东', 's': '宏军大卖场新玛特店'},
        {'p': '辽宁', 'c': '抚顺', 's': '抚顺新玛特购物广场'},
        {'p': '辽宁', 'c': '阜新', 's': '阜新新玛特购物广场'},
        {'p': '辽宁', 'c': '呼伦贝尔', 's': '呼伦贝尔友谊'},
        {'p': '辽宁', 'c': '葫芦岛', 's': '东方美化妆精品店'},
        {'p': '辽宁', 'c': '锦州', 's': '锦州亿莎化妆品有限公司第一部'},
        {'p': '辽宁', 'c': '辽阳', 's': '辽阳百爱神化妆品店'},
        {'p': '辽宁', 'c': '盘锦', 's': '董氏化妆名品商场'},
        {'p': '辽宁', 'c': '盘锦', 's': '盘锦新玛特购物广场'},
        {'p': '辽宁', 'c': '沈阳', 's': '辽中一分利'},
        {'p': '辽宁', 'c': '沈阳', 's': '新民市瑞丽百货店'},
        {'p': '辽宁', 'c': '铁岭', 's': '昌图恒信红河大卖场'},
        {'p': '辽宁', 'c': '铁岭', 's': '高氏万达化妆品'},
        {'p': '辽宁', 'c': '铁岭', 's': '铁岭中泽裕路店'},
        {'p': '辽宁', 'c': '铁岭', 's': '西丰白猫'},
        {'p': '辽宁', 'c': '通辽', 's': '乌兰浩特绿叶化妆品店'},
        {'p': '辽宁', 'c': '通辽', 's': '兴蒙绿叶化妆品'},
        {'p': '辽宁', 'c': '乌兰察布', 's': '绿叶化妆经销中心'},
        {'p': '辽宁', 'c': '乌兰浩特', 's': '兴蒙绿叶兴安5店'},
        {'p': '辽宁', 'c': '营口', 's': '鲅鱼圈红旺店'},
        {'p': '辽宁', 'c': '营口', 's': '鲅鱼圈隆组美'},
        {'p': '辽宁', 'c': '营口', 's': '薇薇化妆品店(营口新玛特店)'},
        {'p': '内蒙古', 'c': '巴彦淖尔', 's': '北方化妆海天领秀店'},
        {'p': '内蒙古', 'c': '巴彦淖尔', 's': '丽人化妆精品城'},
        {'p': '内蒙古', 'c': '巴彦淖尔', 's': '王艳化妆名品店'},
        {'p': '内蒙古', 'c': '巴彦淖尔', 's': '小乔化妆'},
        {'p': '内蒙古', 'c': '巴彦淖尔', 's': '小乔化妆欧式街店'},
        {'p': '内蒙古', 'c': '巴彦淖尔', 's': '影星化妆'},
        {'p': '内蒙古', 'c': '包头', 's': '包头百货大楼'},
        {'p': '内蒙古', 'c': '包头', 's': '包头青山王府井'},
        {'p': '内蒙古', 'c': '包头', 's': '亿莎美化妆品'},
        {'p': '内蒙古', 'c': '鄂尔多斯', 's': '春蕾洗涤化妆超市'},
        {'p': '内蒙古', 'c': '鄂尔多斯', 's': '薛家湾贵夫人店'},
        {'p': '内蒙古', 'c': '鄂尔多斯', 's': '中意化妆精品城'},
        {'p': '内蒙古', 'c': '鄂尔多斯', 's': '资生堂薛家湾阳光店'},
        {'p': '内蒙古', 'c': '呼和浩特', 's': '呼市万达百货'},
        {'p': '内蒙古', 'c': '乌海', 's': '绿世界化妆品万联百货店'},
        {'p': '内蒙古', 'c': '乌兰察布', 's': '奥威购物广场'},
        {'p': '内蒙古', 'c': '锡林浩特', 's': '龙生购物广场'},
        {'p': '内蒙古', 'c': '锡林浩特', 's': '龙生化妆维多利店'},
        {'p': '宁夏', 'c': '石嘴山', 's': '仙蒂化妆品丝丹店'},
        {'p': '宁夏', 'c': '吴忠', 's': '华姿化妆名品店二店'},
        {'p': '宁夏', 'c': '吴忠', 's': '明珠商场'},
        {'p': '宁夏', 'c': '银川', 's': '美皙空间'},
        {'p': '宁夏', 'c': '银川', 's': '诗芙兰化妆品精品店'},
        {'p': '宁夏', 'c': '中卫', 's': '爱家洗化'},
        {'p': '青海', 'c': '海东', 's': '艾格丽木化妆品店'},
        {'p': '青海', 'c': '海西', 's': '名流化妆精品店'},
        {'p': '青海', 'c': '拉萨', 's': '拉萨圣洁大药房'},
        {'p': '青海', 'c': '拉萨', 's': '西藏拉萨乐百隆化妆品店'},
        {'p': '青海', 'c': '拉萨', 's': '雅丽洁日化'},
        {'p': '青海', 'c': '西宁', 's': '大十字店（广场店）'},
        {'p': '青海', 'c': '西宁', 's': '西大街化妆品店'},
        {'p': '山东', 'c': '济宁', 's': '济宁银座商城'},
        {'p': '山东', 'c': '莱芜', 's': '莱芜银座商城'},
        {'p': '山东', 'c': '枣庄', 's': '枣庄市帅丽园化妆品有限公司'},
        {'p': '山东', 'c': '德州', 's': '庆云澳城购物广场'},
        {'p': '山东', 'c': '德州', 's': '庆云信誉商厦'},
        {'p': '山东', 'c': '东营', 's': '东营百货大楼东城店'},
        {'p': '山东', 'c': '东营', 's': '东营百货大楼金鼎广场'},
        {'p': '山东', 'c': '东营', 's': '东营信誉楼百货公司'},
        {'p': '山东', 'c': '济南', 's': '华信银座'},
        {'p': '山东', 'c': '济宁', 's': '贵和购物广场兖州店'},
        {'p': '山东', 'c': '济宁', 's': '济宁贵和购物中心'},
        {'p': '山东', 'c': '济宁', 's': '济宁九龙贵和购物广场'},
        {'p': '山东', 'c': '济宁', 's': '兖州广场商厦'},
        {'p': '山东', 'c': '济宁', 's': '邹城百货大楼'},
        {'p': '山东', 'c': '济宁', 's': '邹城九龙贵和购物广场'},
        {'p': '山东', 'c': '莱芜', 's': '莱芜信誉楼商厦'},
        {'p': '山东', 'c': '聊城', 's': '聊城市金鼎商厦'},
        {'p': '山东', 'c': '聊城', 's': '青春别墅化妆名品店'},
        {'p': '山东', 'c': '聊城', 's': '青春别墅美肤洗化中心'},
        {'p': '山东', 'c': '临沂', 's': '临沂泊美化妆精品店'},
        {'p': '山东', 'c': '临沂', 's': '临沂银座商城'},
        {'p': '山东', 'c': '临沂', 's': '沂南东方购物广场'},
        {'p': '山东', 'c': '青岛', 's': '城阳国货购物中心'},
        {'p': '山东', 'c': '青岛', 's': '胶州新世纪购物中心'},
        {'p': '山东', 'c': '青岛', 's': '莱西良茂百货商场'},
        {'p': '山东', 'c': '青岛', 's': '利群集团即墨商厦'},
        {'p': '山东', 'c': '青岛', 's': '利群集团胶南购物中心'},
        {'p': '山东', 'c': '青岛', 's': '利群集团胶南家乐城店'},
        {'p': '山东', 'c': '青岛', 's': '利群集团胶州购物广场'},
        {'p': '山东', 'c': '青岛', 's': '青岛北方国贸'},
        {'p': '山东', 'c': '青岛', 's': '青岛家佳源(黄岛店)'},
        {'p': '山东', 'c': '青岛', 's': '青岛家佳源城阳店'},
        {'p': '山东', 'c': '青岛', 's': '青岛新齐鲁喜爱化妆品专卖店'},
        {'p': '山东', 'c': '青岛', 's': '青岛悦喜客来中山购物有限公司'},
        {'p': '山东', 'c': '青岛', 's': '日照日百商业有限公司新玛特购物中心'},
        {'p': '山东', 'c': '日照', 's': '莒县新世纪购物广场'},
        {'p': '山东', 'c': '日照', 's': '日百新玛特购物广场'},
        {'p': '山东', 'c': '日照', 's': '日百新玛特购物中心五莲店'},
        {'p': '山东', 'c': '日照', 's': '日照百货大楼专卖店'},
        {'p': '山东', 'c': '日照', 's': '日照海纳商城'},
        {'p': '山东', 'c': '日照', 's': '日照利群瑞泰商贸城'},
        {'p': '山东', 'c': '日照', 's': '日照凌云大厦'},
        {'p': '山东', 'c': '泰安', 's': '肥城益美堂化妆品店'},
        {'p': '山东', 'c': '威海', 's': '家家悦购物广场文登店'},
        {'p': '山东', 'c': '威海', 's': '家家悦乳山金丰店'},
        {'p': '山东', 'c': '威海', 's': '荣成吉兴商场'},
        {'p': '山东', 'c': '威海', 's': '荣成家家悦政府购物广场'},
        {'p': '山东', 'c': '威海', 's': '石岛吉兴购物中心'},
        {'p': '山东', 'c': '威海', 's': '威海华联购物广场店'},
        {'p': '山东', 'c': '威海', 's': '威海齐鲁商城'},
        {'p': '山东', 'c': '潍坊', 's': '昌乐东方洗化中心'},
        {'p': '山东', 'c': '潍坊', 's': '润莎奈儿沃尔玛店'},
        {'p': '山东', 'c': '潍坊', 's': '悦容百盛商场店'},
        {'p': '山东', 'c': '烟台', 's': '家家悦海阳百货店'},
        {'p': '山东', 'c': '烟台', 's': '莱阳百信洗化超市'},
        {'p': '山东', 'c': '烟台', 's': '利群莱州商厦'},
        {'p': '山东', 'c': '烟台', 's': '启美化妆品商行(中心店)'},
        {'p': '山东', 'c': '烟台', 's': '烟台百盛购物中心'},
        {'p': '山东', 'c': '烟台', 's': '烟台振华招远店'},
        {'p': '山东', 'c': '烟台', 's': '招远女友金都店'},
        {'p': '山东', 'c': '烟台', 's': '振华商厦福山店'},
        {'p': '山东', 'c': '枣庄', 's': '滕州百信洗化总店'},
        {'p': '山东', 'c': '枣庄', 's': '枣庄贵诚购物中心'},
        {'p': '山东', 'c': '淄博', 's': '桓台县惠仟佳购物广场'},
        {'p': '山东', 'c': '淄博', 's': '临淄东泰购物广场'},
        {'p': '山东', 'c': '淄博', 's': '信誉楼桓台商厦'},
        {'p': '山西', 'c': '大同', 's': '华林新天地'},
        {'p': '山西', 'c': '大同', 's': '时差怀仁店'},
        {'p': '山西', 'c': '临汾', 's': '安达圣'},
        {'p': '山西', 'c': '临汾', 's': '千江水化妆品商行'},
        {'p': '山西', 'c': '临汾', 's': '施美店'},
        {'p': '山西', 'c': '吕梁', 's': '天马日化'},
        {'p': '山西', 'c': '太原', 's': '百合化妆品美特好店'},
        {'p': '山西', 'c': '太原', 's': '龙生日化西宫店'},
        {'p': '山西', 'c': '太原', 's': '美特好平阳店'},
        {'p': '山西', 'c': '太原', 's': '美特好三墙路店'},
        {'p': '山西', 'c': '太原', 's': '芮城东茂商场'},
        {'p': '山西', 'c': '忻州', 's': '鑫鹏洗涤化妆品'},
        {'p': '山西', 'c': '阳泉', 's': '佳丽宝商贸有限公司'},
        {'p': '山西', 'c': '运城', 's': '百合化妆品'},
        {'p': '山西', 'c': '运城', 's': '百合化妆品学府店'},
        {'p': '山西', 'c': '运城', 's': '百合名品'},
        {'p': '山西', 'c': '运城', 's': '冰花日化二部'},
        {'p': '山西', 'c': '运城', 's': '东星时代广场'},
        {'p': '山西', 'c': '运城', 's': '飞飞化妆品'},
        {'p': '山西', 'c': '运城', 's': '恒隆广场'},
        {'p': '山西', 'c': '运城', 's': '情侣化妆品'},
        {'p': '山西', 'c': '运城', 's': '水晶故事'},
        {'p': '山西', 'c': '运城', 's': '沃尔玛购物广场'},
        {'p': '山西', 'c': '运城', 's': '运城市购物中心'},
        {'p': '山西', 'c': '长治', 's': '凤展新时代广场'},
        {'p': '山西', 'c': '长治', 's': '华诺百货'},
        {'p': '山西', 'c': '长治', 's': '名兰化妆品店'},
        {'p': '山西', 'c': '长治', 's': '名兰嘉汇'},
        {'p': '山西', 'c': '长治', 's': '名兰金威店'},
        {'p': '陕西', 'c': '安康', 's': '安康江北阳光佳人二店'},
        {'p': '陕西', 'c': '安康', 's': '汉阴民威睿正购物中心'},
        {'p': '陕西', 'c': '安康', 's': '君汇化妆'},
        {'p': '陕西', 'c': '安康', 's': '平利民威'},
        {'p': '陕西', 'c': '安康', 's': '旬阳民威购物中心'},
        {'p': '陕西', 'c': '安康', 's': '旬阳南方百货'},
        {'p': '陕西', 'c': '宝鸡', 's': '宝鸡开元商城'},
        {'p': '陕西', 'c': '宝鸡', 's': '天下汇国际贸易中心'},
        {'p': '陕西', 'c': '汉中', 's': '城固五妹化妆精品店'},
        {'p': '陕西', 'c': '汉中', 's': '汉中世纪阳光'},
        {'p': '陕西', 'c': '陕西省其他', 's': '天元时代购物广场'},
        {'p': '陕西', 'c': '商洛', 's': '商州佳丽日化'},
        {'p': '陕西', 'c': '铜川', 's': '天姿化妆精品'},
        {'p': '陕西', 'c': '渭南', 's': '白水洋丽春天名妆'},
        {'p': '陕西', 'c': '渭南', 's': '澄城世纪美辰'},
        {'p': '陕西', 'c': '渭南', 's': '韩城鑫源化妆品店'},
        {'p': '陕西', 'c': '渭南', 's': '靓丽人生'},
        {'p': '陕西', 'c': '渭南', 's': '蒲城金丽人美业'},
        {'p': '陕西', 'c': '渭南', 's': '蒲城丽丽化妆品店'},
        {'p': '陕西', 'c': '西安', 's': '户县永乐化妆品店'},
        {'p': '陕西', 'c': '西安', 's': '临潼魅力之源'},
        {'p': '陕西', 'c': '西安', 's': '赛格国际购物中心'},
        {'p': '陕西', 'c': '西安', 's': '陕西军区军人服务社'},
        {'p': '陕西', 'c': '西安', 's': '苏氏百文化妆品店'},
        {'p': '陕西', 'c': '西安', 's': '天彩化妆品店'},
        {'p': '陕西', 'c': '西安', 's': '阎良雅姿日化'},
        {'p': '陕西', 'c': '咸阳', 's': '礼泉蓓蕾日化'},
        {'p': '陕西', 'c': '咸阳', 's': '武功鑫业化妆'},
        {'p': '陕西', 'c': '咸阳', 's': '咸阳金姐妹北门口店'},
        {'p': '陕西', 'c': '咸阳', 's': '咸阳金姐妹银泰店'},
        {'p': '陕西', 'c': '延安', 's': '洛川佳美美妆'},
        {'p': '陕西', 'c': '延安', 's': '民生百货延安店'},
        {'p': '陕西', 'c': '延安', 's': '吴起洁雅美化妆品店'},
        {'p': '陕西', 'c': '延安', 's': '延安百货大楼'},
        {'p': '陕西', 'c': '延安', 's': '延安东大百货有限公司'},
        {'p': '陕西', 'c': '延安', 's': '延长洁雅美'},
        {'p': '陕西', 'c': '延安', 's': '子长家家化妆品专卖店'},
        {'p': '陕西', 'c': '榆林', 's': '府谷兴茂商场'},
        {'p': '陕西', 'c': '榆林', 's': '靖边丽人商行'},
        {'p': '陕西', 'c': '榆林', 's': '神木恒生国际购物中心'},
        {'p': '陕西', 'c': '榆林', 's': '榆林丽人广场店'},
        {'p': '陕西', 'c': '榆林', 's': '榆林丽人西沙店'},
        {'p': '陕西', 'c': '榆林', 's': '榆林市恒丽化妆品店'},
        {'p': '陕西', 'c': '榆林', 's': '榆林市丽人商行'},
        {'p': '上海', 'c': '上海', 's': '安亭媛缘化妆品二店'},
        {'p': '上海', 'c': '上海', 's': '崇明县樱华化妆品店'},
        {'p': '四川', 'c': '阿坝', 's': '欧婷日化精品店'},
        {'p': '四川', 'c': '巴中', 's': '秀颜堂'},
        {'p': '四川', 'c': '成都', 's': '北京华联盐市口店'},
        {'p': '四川', 'c': '成都', 's': '成都茂业百货盐市口店'},
        {'p': '四川', 'c': '成都', 's': '成都新世界百货'},
        {'p': '四川', 'c': '成都', 's': '恒创太平洋购物中心'},
        {'p': '四川', 'c': '成都', 's': '汇丽.羽西西街店'},
        {'p': '四川', 'c': '成都', 's': '疗肤堂'},
        {'p': '四川', 'c': '成都', 's': '龙泉女子商场中街店'},
        {'p': '四川', 'c': '成都', 's': '龙泉女子商场总店'},
        {'p': '四川', 'c': '成都', 's': '摩尔新世纪'},
        {'p': '四川', 'c': '成都', 's': '蒲江经典美妍'},
        {'p': '四川', 'c': '成都', 's': '青白江博雅化妆品店'},
        {'p': '四川', 'c': '成都', 's': '邛崃永茹化妆品金色时代店'},
        {'p': '四川', 'c': '成都', 's': '邛崃永茹化妆品名店'},
        {'p': '四川', 'c': '成都', 's': '新都懿润百货'},
        {'p': '四川', 'c': '成都', 's': '新津百货大楼'},
        {'p': '四川', 'c': '达州', 's': '达州摩尔百货'},
        {'p': '四川', 'c': '达州', 's': '大竹美丽坊'},
        {'p': '四川', 'c': '达州', 's': '名妆'},
        {'p': '四川', 'c': '达州', 's': '素美'},
        {'p': '四川', 'c': '达州', 's': '素美旱桥店'},
        {'p': '四川', 'c': '达州', 's': '怡肤堂'},
        {'p': '四川', 'c': '德阳', 's': '德阳娇傲名店'},
        {'p': '四川', 'c': '德阳', 's': '广汉百货大楼'},
        {'p': '四川', 'c': '德阳', 's': '广汉丽人行'},
        {'p': '四川', 'c': '德阳', 's': '什邡兰玉化妆品店'},
        {'p': '四川', 'c': '德阳', 's': '什坊市方亭韵美百货店'},
        {'p': '四川', 'c': '广安', 's': '广安摩尔'},
        {'p': '四川', 'c': '广安', 's': '美颜坊'},
        {'p': '四川', 'c': '广元', 's': '苍溪美姿日化'},
        {'p': '四川', 'c': '广元', 's': '广元市钦韵化妆精品连锁店(北街店)'},
        {'p': '四川', 'c': '广元', 's': '广元市钦韵名店'},
        {'p': '四川', 'c': '阆中', 's': '阆中丽颜坊新世纪店'},
        {'p': '四川', 'c': '乐山', 's': '北京华联（乐山店）'},
        {'p': '四川', 'c': '乐山', 's': '蓝天时尚时代广场店'},
        {'p': '四川', 'c': '乐山', 's': '蓝天洗化峨眉名山店'},
        {'p': '四川', 'c': '乐山', 's': '蓝天洗化夹江店'},
        {'p': '四川', 'c': '乐山', 's': '蓝天洗化土桥店'},
        {'p': '四川', 'c': '乐山', 's': '蓝天洗化五通店'},
        {'p': '四川', 'c': '乐山', 's': '美家好邻居购物中心'},
        {'p': '四川', 'c': '乐山', 's': '沐川飞腾日化'},
        {'p': '四川', 'c': '凉山', 's': '会理欢颜化妆品店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰八分店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰城南店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰德昌店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰二分店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰会理店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰六分店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰宁南店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰七分店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰世纪店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰四分店'},
        {'p': '四川', 'c': '凉山', 's': '西昌华泰一分店'},
        {'p': '四川', 'c': '泸州', 's': '泸州重百'},
        {'p': '四川', 'c': '眉山', 's': '霞飞化妆品商业街店'},
        {'p': '四川', 'c': '绵阳', 's': '粉竹缘江油店'},
        {'p': '四川', 'c': '绵阳', 's': '粉竹缘梓潼店'},
        {'p': '四川', 'c': '绵阳', 's': '汇星百货'},
        {'p': '四川', 'c': '南充', 's': '阆中丽颜坊日化二店'},
        {'p': '四川', 'c': '南充', 's': '阆中丽颜坊日化三店'},
        {'p': '四川', 'c': '南充', 's': '南充雅卓（人民商场店）'},
        {'p': '四川', 'c': '南充', 's': '南充雅卓彩妆'},
        {'p': '四川', 'c': '南充', 's': '南充雅卓新世纪店'},
        {'p': '四川', 'c': '南充', 's': '尚美化妆品店'},
        {'p': '四川', 'c': '南充', 's': '新千年化妆品'},
        {'p': '四川', 'c': '内江', 's': '内江卓尔'},
        {'p': '四川', 'c': '攀枝花', 's': '吉美化妆品百盛店'},
        {'p': '四川', 'c': '攀枝花', 's': '慕容商贸德铭阳光店'},
        {'p': '四川', 'c': '什邡', 's': '兰玉女子商场'},
        {'p': '四川', 'c': '遂宁', 's': '汇俪坊'},
        {'p': '四川', 'c': '西昌', 's': '西昌华泰三分店'},
        {'p': '四川', 'c': '西昌', 's': '西昌华泰五分店'},
        {'p': '四川', 'c': '西昌', 's': '银泰天地百货'},
        {'p': '四川', 'c': '雅安', 's': '谷玉护肤名品店'},
        {'p': '四川', 'c': '雅安', 's': '雅安中意'},
        {'p': '四川', 'c': '雅安', 's': '雅安中意百货康藏路店'},
        {'p': '四川', 'c': '雅安', 's': '雅安中意百货一分店'},
        {'p': '四川', 'c': '雅安', 's': '雅安中意名店'},
        {'p': '四川', 'c': '宜宾', 's': '宜宾美好家园'},
        {'p': '四川', 'c': '自贡', 's': '荣县新东方美化妆品'},
        {'p': '四川', 'c': '自贡', 's': '雪儿化妆'},
        {'p': '四川', 'c': '德阳', 's': '德阳娇傲南街店'},
        {'p': '四川', 'c': '眉山', 's': '眉山霞飞沙榖巷店'},
        {'p': '新疆', 'c': '阿克苏', 's': '阿克苏大发化妆品店'},
        {'p': '新疆', 'c': '阿克苏', 's': '阿克苏太白购物中心'},
        {'p': '新疆', 'c': '阿克苏', 's': '芳芳化妆品商行'},
        {'p': '新疆', 'c': '阿勒泰', 's': '布尔津娇兰佳人化妆品店'},
        {'p': '新疆', 'c': '阿勒泰', 's': '新天丽化妆品总汇'},
        {'p': '新疆', 'c': '昌吉', 's': '昌吉友好时尚购物中心'},
        {'p': '新疆', 'c': '昌吉', 's': '诚和化妆品名店'},
        {'p': '新疆', 'c': '昌吉', 's': '联谊化妆品'},
        {'p': '新疆', 'c': '哈密', 's': '海星化妆品洗涤总汇'},
        {'p': '新疆', 'c': '哈密', 's': '丽都洗涤化妆品'},
        {'p': '新疆', 'c': '和田', 's': '丝特宝名品商行'},
        {'p': '新疆', 'c': '喀什', 's': '尖端化妆品'},
        {'p': '新疆', 'c': '喀什', 's': '喀什环疆新世界百货'},
        {'p': '新疆', 'c': '喀什', 's': '女人坊'},
        {'p': '新疆', 'c': '克拉玛依', 's': '金盛时尚百货'},
        {'p': '新疆', 'c': '克拉玛依', 's': '时代购物广场'},
        {'p': '新疆', 'c': '克拉玛依', 's': '婉唐化妆品店'},
        {'p': '新疆', 'c': '库尔勒', 's': '库尔勒太百国际'},
        {'p': '新疆', 'c': '石河子', 's': '情有独钟化妆品商店'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '百联魔族妆品'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '彩韵轩化妆品店'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '东方100商厦'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '哈密领先中盛妮美化妆品专柜'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '和田市春天百货'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '米泉兰梦化妆品店'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '魔族化妆品店'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '七一酱园购物中心'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '太百购物'},
        {'p': '新疆', 'c': '乌鲁木齐', 's': '五一商场化妆品'},
        {'p': '新疆', 'c': '新疆自治区其他', 's': '百花村购物中心'},
        {'p': '新疆', 'c': '伊犁', 's': '奎屯天百'},
        {'p': '新疆', 'c': '伊犁', 's': '蔷薇化妆名品广场'},
        {'p': '云南', 'c': '保山', 's': '腾冲今世女子'},
        {'p': '云南', 'c': '保山', 's': '腾冲三立'},
        {'p': '云南', 'c': '楚雄', 's': '楚雄瑞源'},
        {'p': '云南', 'c': '大理', 's': '宾川红粉佳人'},
        {'p': '云南', 'c': '大理', 's': '古城妆妍妆品店'},
        {'p': '云南', 'c': '大理', 's': '建设商场化妆品部'},
        {'p': '云南', 'c': '大理', 's': '千姿化妆品店'},
        {'p': '云南', 'c': '红河', 's': '个旧焕彩空间'},
        {'p': '云南', 'c': '红河', 's': '个旧丽水金湾'},
        {'p': '云南', 'c': '红河', 's': '开远金方'},
        {'p': '云南', 'c': '红河', 's': '弥勒天姿名妆'},
        {'p': '云南', 'c': '红河', 's': '香阁里'},
        {'p': '云南', 'c': '昆明', 's': '安宁金方'},
        {'p': '云南', 'c': '昆明', 's': '桔子加美妆'},
        {'p': '云南', 'c': '昆明', 's': '康之美'},
        {'p': '云南', 'c': '昆明', 's': '昆明佳丽彩妆'},
        {'p': '云南', 'c': '昆明', 's': '昆明佳丽彩妆南亚风情店'},
        {'p': '云南', 'c': '昆明', 's': '蒙自金方购物广场'},
        {'p': '云南', 'c': '丽江', 's': '丽江女友名店'},
        {'p': '云南', 'c': '丽江', 's': '丽江添姿'},
        {'p': '云南', 'c': '丽江', 's': '丽江添姿福慧店'},
        {'p': '云南', 'c': '曲靖', 's': '佳佳百货'},
        {'p': '云南', 'c': '曲靖', 's': '曲靖姐妹时尚'},
        {'p': '云南', 'c': '曲靖', 's': '曲靖市中天购物中心'},
        {'p': '云南', 'c': '曲靖', 's': '曲靖新百大'},
        {'p': '云南', 'c': '文山', 's': '文山佳佳美妆'},
        {'p': '云南', 'c': '玉溪', 's': '峨山县红雨化妆品店'},
        {'p': '云南', 'c': '玉溪', 's': '通海美莱名妆'},
        {'p': '云南', 'c': '玉溪', 's': '玉溪百货大楼'},
        {'p': '浙江', 'c': '宁波', 's': '横溪亚婷化妆精品店'},
        {'p': '浙江', 'c': '台州', 's': '锦江百货化妆品店'},
        {'p': '浙江', 'c': '台州', 's': '仙居县小巧玲珑化妆品店'},
        {'p': '浙江', 'c': '海宁', 's': '海宁华联购物中心'},
        {'p': '浙江', 'c': '杭州', 's': '晨玥化妆品店'},
        {'p': '浙江', 'c': '杭州', 's': '淳安珍珍日化'},
        {'p': '浙江', 'c': '杭州', 's': '梵秀濮家店'},
        {'p': '浙江', 'c': '杭州', 's': '富阳艾尚分店'},
        {'p': '浙江', 'c': '杭州', 's': '富阳化妆王国'},
        {'p': '浙江', 'c': '杭州', 's': '拱墅区运河店'},
        {'p': '浙江', 'c': '杭州', 's': '杭州茜茜化妆精品店'},
        {'p': '浙江', 'c': '杭州', 's': '杭州世纪联华庆春店'},
        {'p': '浙江', 'c': '杭州', 's': '杭州雪颜化妆品店'},
        {'p': '浙江', 'c': '杭州', 's': '杭州余杭区小芳日化保健路店'},
        {'p': '浙江', 'c': '杭州', 's': '嘉兴戴梦得购物中心'},
        {'p': '浙江', 'c': '杭州', 's': '建德莲莲化妆品店'},
        {'p': '浙江', 'c': '杭州', 's': '建德七彩美丽空间'},
        {'p': '浙江', 'c': '杭州', 's': '临安市国贸大厦'},
        {'p': '浙江', 'c': '杭州', 's': '临安天姿化妆品商行'},
        {'p': '浙江', 'c': '杭州', 's': '临平施美美业'},
        {'p': '浙江', 'c': '杭州', 's': '世纪联华华商店'},
        {'p': '浙江', 'c': '杭州', 's': '萧山颜秀化妆品店'},
        {'p': '浙江', 'c': '杭州', 's': '萧山颜秀汇德隆店'},
        {'p': '浙江', 'c': '杭州', 's': '余杭小白羊日化'},
        {'p': '浙江', 'c': '湖州', 's': '安吉百汇咪西化妆精品店'},
        {'p': '浙江', 'c': '湖州', 's': '安吉花都美容美发用品销售中心'},
        {'p': '浙江', 'c': '湖州', 's': '全雅化妆精品武康店'},
        {'p': '浙江', 'c': '湖州', 's': '新市晓楠妆化妆品店'},
        {'p': '浙江', 'c': '嘉兴', 's': '嘉善红珊瑚化妆精品'},
        {'p': '浙江', 'c': '嘉兴', 's': '美仑美奂朝阳店'},
        {'p': '浙江', 'c': '嘉兴', 's': '桐乡东兴商厦'},
        {'p': '浙江', 'c': '嘉兴', 's': '伊斯卡化妆品店'},
        {'p': '浙江', 'c': '金华', 's': '焕采生活化妆品'},
        {'p': '浙江', 'c': '金华', 's': '焕采生活兰溪店'},
        {'p': '浙江', 'c': '金华', 's': '义乌城中店'},
        {'p': '浙江', 'c': '金华', 's': '永康保真妆'},
        {'p': '浙江', 'c': '丽水', 's': '丽水百货大楼'},
        {'p': '浙江', 'c': '宁波', 's': '北仑佳惠百货'},
        {'p': '浙江', 'c': '宁波', 's': '慈溪奇杰百货'},
        {'p': '浙江', 'c': '宁波', 's': '奉化三和化妆品商行'},
        {'p': '浙江', 'c': '宁波', 's': '美立方化妆品店'},
        {'p': '浙江', 'c': '宁波', 's': '石浦舒尔美化妆品店'},
        {'p': '浙江', 'c': '宁波', 's': '象山花海化妆品店'},
        {'p': '浙江', 'c': '宁波', 's': '象山四季春化妆品店'},
        {'p': '浙江', 'c': '衢州', 's': '江山市思美化妆品'},
        {'p': '浙江', 'c': '衢州', 's': '衢州美都时代广场店'},
        {'p': '浙江', 'c': '绍兴', 's': '上虞一百化妆精品店'},
        {'p': '浙江', 'c': '绍兴', 's': '绍兴柯桥蓝天百货'},
        {'p': '浙江', 'c': '绍兴', 's': '嵊州奥斯百货国商店'},
        {'p': '浙江', 'c': '绍兴', 's': '嵊州奥斯百货化妆精品店'},
        {'p': '浙江', 'c': '绍兴', 's': '新昌真女人化妆品商行'},
        {'p': '浙江', 'c': '绍兴', 's': '诸暨姐妹化妆'},
        {'p': '浙江', 'c': '台州', 's': '黄岩妆缘名妆化妆品店'},
        {'p': '浙江', 'c': '台州', 's': '慧敏化妆品商行'},
        {'p': '浙江', 'c': '台州', 's': '椒江花之王化妆品商行'},
        {'p': '浙江', 'c': '台州', 's': '临海老九龙化妆品店'},
        {'p': '浙江', 'c': '台州', 's': '路桥天姿化妆品店'},
        {'p': '浙江', 'c': '台州', 's': '天台太平洋百货'},
        {'p': '浙江', 'c': '台州', 's': '天姿化妆品商行'},
        {'p': '浙江', 'c': '台州', 's': '童颜美妆'},
        {'p': '浙江', 'c': '台州', 's': '玉环新丽源化妆精品'},
        {'p': '浙江', 'c': '温州', 's': '敖江素微化妆品商行'},
        {'p': '浙江', 'c': '温州', 's': '蓓蕾化妆品店'},
        {'p': '浙江', 'c': '温州', 's': '苍南永盛化妆品商行'},
        {'p': '浙江', 'c': '温州', 's': '飞云镇雨水化妆品店'},
        {'p': '浙江', 'c': '温州', 's': '好媳妇化妆品商行'},
        {'p': '浙江', 'c': '温州', 's': '宏源化妆品店店'},
        {'p': '浙江', 'c': '温州', 's': '虹桥晓清化妆品店'},
        {'p': '浙江', 'c': '温州', 's': '娟娟化妆品商行'},
        {'p': '浙江', 'c': '温州', 's': '乐燕化妆品店'},
        {'p': '浙江', 'c': '温州', 's': '龙港置信购物中心'},
        {'p': '浙江', 'c': '温州', 's': '马屿镇天使化妆店'},
        {'p': '浙江', 'c': '温州', 's': '美丽妆园化妆品'},
        {'p': '浙江', 'c': '温州', 's': '女人坊化妆品店'},
        {'p': '浙江', 'c': '温州', 's': '瑞安琴琴化妆品店'},
        {'p': '浙江', 'c': '温州', 's': '水头天美化妆品店'},
        {'p': '浙江', 'c': '温州', 's': '丝泉化妆品店'},
        {'p': '浙江', 'c': '温州', 's': '泰顺秀文-欧诗漫化妆品店'},
        {'p': '浙江', 'c': '温州', 's': '陶山田园化妆精品行'},
        {'p': '浙江', 'c': '温州', 's': '永中丽源化妆品商行'},
        {'p': '浙江', 'c': '舟山', 's': '朝阳化妆品商行'},
        {'p': '浙江', 'c': '舟山', 's': '嵊泗爱丽化妆精品店'},
        {'p': '浙江', 'c': '舟山', 's': '水晶化妆品店'},
        {'p': '浙江', 'c': '舟山', 's': '茵子化妆品店'},
        {'p': '浙江', 'c': '舟山', 's': '舟山黛宏凯虹广场店'},
        {'p': '浙江', 'c': '舟山', 's': '舟山黛宏太平洋店'},
        {'p': '浙江', 'c': '舟山', 's': '舟山黛宏一百店'},
        {'p': '重庆', 'c': '重庆', 's': '口红家族'},
        {'p': '重庆', 'c': '重庆', 's': '万佳日化人民路一店'},
        {'p': '重庆', 'c': '重庆', 's': '重庆黔江重百'},
        {'p': '重庆', 'c': '重庆', 's': '重庆万州重百'}];
    var sLeng;
    var pTemp, cTemp, sTemp;
    $(document).ready(function () {
        sLeng = sJson.length;
        $('#prov').html('');
        $('#city').html('');
        $('#chant').html('');
        $('#prov').append("<option value=''></option>");
        for (var i = 0; i < sLeng - 1; i++) {
            if (sJson[i].p != pTemp) {
                pTemp = sJson[i].p;
                $('#prov').append("<option value='" + sJson[i].p + "'>" + sJson[i].p + "</option>");
            }
        }
    });

    function changeP() {
        $('.prodiv p').html($.trim($('#prov').val()));
        $('#city').html('');
        $('#city').append("<option value=''></option>");
        $('.citydiv p').html('城市');
        $('#chant').html('');
        $('.chantdiv p').html('选择最近柜台');
        for (var i = 0; i < sLeng - 1; i++) {
            if (sJson[i].p == $.trim($('#prov').val()) && sJson[i].c != cTemp) {
                cTemp = sJson[i].c;
                $('#city').append("<option value='" + sJson[i].c + "'>" + sJson[i].c + "</option>");
            }
        }
    }

    function changeC() {
        $('.citydiv p').html($.trim($('#city').val()));
        $('#chant').html('');
        $('#chant').append("<option value=''></option>");
        $('.chantdiv p').html('选择最近柜台');
        for (var i = 0; i < sLeng - 1; i++) {
            if (sJson[i].p == $.trim($('#prov').val()) && sJson[i].c == $.trim($('#city').val())) {
                $('#chant').append("<option value='" + sJson[i].s + "'>" + sJson[i].s + "</option>");
            }
        }
    }

    function changeS() {
        $('.chantdiv p').html($.trim($('#chant').val()));
    }

    var canSubmit = 1;//1:可以提交 2:锁定提交 3:提交成功
    function submitInfo() {
        if (canSubmit == 1) {
            var tel = $.trim($('#tel').val());
            var province = $.trim($('#prov').val());
            var city = $.trim($('#city').val());
            var store = $.trim($('#chant').val());
            var pattern = /^1[3456789]\d{9}$/;

            if (tel == '' || !pattern.test(tel)) {
                alert('请输入正确的手机号码');
                return false;
            }
            else if (province == '') {
                alert('请选择省份');
                return false;
            }
            else if (city == '') {
                alert('请选择城市');
                return false;
            }
            else if (store == '') {
                alert('请选择最近柜台');
                return false;
            }
            canSubmit = 2;
            $.ajax('/saveInfo', {
                data: {
                    tel: tel,
                    province: province,
                    city: city,
                    store: store
                },
                type: 'post',
                dataType: 'json',
                success: function (json) {
                    if (json.error == 'error') {
                        alert(json.msg);
                        canSubmit = 1;
                    }
                    else {
                        canSubmit = 3;
                        $('#tel').attr('disabled', 'disabled');
                        $('#prov').attr('disabled', 'disabled');
                        $('#city').attr('disabled', 'disabled');
                        $('#chant').attr('disabled', 'disabled');
                        sucpop();
                        //请求短信接口
                    }
                },
                error: function (json) {
                    alert(json.msg);
                    canSubmit = 1;
                }
            });
        }
        else if (canSubmit==3) {
            //alert('您已经申请成功');
            sucpop();
        }
    }
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-83299046-1', 'auto');
    ga('send', 'pageview');

</script>
